#screen_main {
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 74vh;
  width: 74%;
  top: 13vh;
  left: 13%;
  transition: color .3s ease;
}

.exit {
  animation-name: exit;
  animation-duration: .2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes exit {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}