.fa {
  position: fixed;
  font-size: calc(3vw + 2.7vh);
  transition: color .5s ease;
}

.fa:hover {
  cursor: pointer;
}

.black {
  color: #232323;
}

.fefefe {
  color: #fefefe;
}

.up {
  top: calc(10vh - ((3vw + 2.7vh) / 2));
  left: calc(50% - ((3vw + 2.7vh) / 2));
}

.down {
  bottom: calc(10vh - ((3vw + 2.7vh) / 2));
  left: calc(50% - ((3vw + 2.7vh) / 2));
}

.left {
  top: calc(50vh - ((3vw + 2.7vh) / 2));
  left: calc(8% - ((3vw + 2.7vh) / 2));
}

.right {
  top: calc(50vh - ((3vw + 2.7vh) / 2));
  right: calc(8% - ((3vw + 2.7vh) / 2));
}