#screen {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.exit-done {
  animation-name: exitDone;
  animation-duration: .3s;
  animation-timing-function: ease;
}

@keyframes exitDone {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.exit-up {
  animation-name: exitUp;
  animation-duration: .3s;
  animation-timing-function: ease;
}

@keyframes exitUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

.exit-down {
  animation-name: exitDown;
  animation-duration: .3s;
  animation-timing-function: ease;
}

@keyframes exitDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

.exit-left {
  animation-name: exitLeft;
  animation-duration: .3s;
  animation-timing-function: ease;
}

@keyframes exitLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.exit-right {
  animation-name: exitRight;
  animation-duration: .3s;
  animation-timing-function: ease;
}

@keyframes exitRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Reset this shit */
h1, h4 {
  margin: 0;
}

h1 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: calc(3.3vw + 2.3vh);
  margin-bottom: 4px;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: calc(1.7vw + 1.5vh);
}

p {
  margin: 0;
}