html, body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

* {
  max-height: 101vh;
}

#app {
  transition: background-color .3s ease-out;
  height: 101vh;
}