#links {
  position: fixed;
  top: 2px;
  right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex end;
  height: 64px;
}

#links a {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#linkedin, #git {
  height: 48px;
  width: auto;
}

.spin-X {
  animation-name: spinnerX;
  animation-duration: .3s;
  animation-timing-function: ease;
}

.spin-Y {
  animation-name: spinnerY;
  animation-duration: .3s;
  animation-timing-function: ease;
}

@keyframes spinnerX {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes spinnerY {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}